@import "_header";

h1 {
    color: green;
}

body {
    font-size: 20px;
    div {
        font-size: 20px;
    }
}

.block {
    &__item {
    }
}

.block {
}
.block__item {
}

.red {
    color: red;
}
